fastapi
uvicorn
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
google-generativeai
pydantic
python-multipart
requests
beautifulsoup4
openai
# uvloop (Not supported on Windows)
Pillow
openpyxl
python-docx
httpx
cryptography
sqlalchemy
aiohttp
